subprojects/CLI11*/
subprojects/nlohmann_json*/
subprojects/spdlog*/
subprojects/pybind11*/
subprojects/cereal*/
subprojects/sqlite*/

packagecache/
modelsdb/
logs.txt
my_script.sh

.vscode
*.log
*.json
*.db
*.errlog